#info
  .window
    img.logo(src="icon.png")
    h1
      span Solaris
      span.js .js

    .content
      p An open-source JavaScript component for the visualization of the Solar System.

      h2 Controls
      p
        .icon.ion-search
        strong Zoom:
        |  scroll / pinch
      p
        .icon.ion-refresh
        strong Rotate:
        |  drag / 1-finger pan

      p
        .icon.ion-pinpoint
        strong Center on object:
        |  click / tap its name

      .sources
        h2 Source
        .icon.ion-social-octocat
        a(href="http://github.com/skepticalimagination/solaris-js" target="_blank") Component
        
        .icon.ion-social-octocat
        a(href="http://github.com/skepticalimagination/solaris-model" target="_blank") Model

        .icon.ion-social-octocat
        a(href="http://github.com/skepticalimagination/solaris-demo" target="_blank") App

    .close
      .icon.ion-close-circled
